@font-face{
  font-family: GoBold Regular;
  src: url("font/Gobold Regular.otf");
}

body, html{
  padding: 0;
  margin: 0;
  font-family: Gobold Regular;
}

body{
  background-image: url(img/nameless-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 65.5%;
  background-attachment: fixed;
}

header{
  font-family: inherit;
  font-size: 4em;
  color: white;
  text-shadow: 0.06em 0.04em #000;
  background-color: rgba(35, 10, 10, 0.6);

  margin: 0;
  padding: 0.75em 0.2em;
  text-align: center;
  overflow: hidden;
}

.menu{
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(10, 10, 10, 0.9);
}

.menu ul{
  margin: 0;
  list-style-type: none;
  color: lightgray;
}

.menu > ul > li > a{
  color:inherit;
  text-decoration: none;
}

.menuItem{
  display: inline-block;
  padding: 1.5em 0.8em;
}

.home{
  background-color: white;
  padding: 4em 1em;
}

.home > h1{
  margin: 0;
  font-size: 4em;
  text-align: center;
  font-family: Gobold Regular;
  color: #222222;
  text-shadow: 0.06em 0.05em #AAA;
}

.home > p{
  margin: 0;
  padding: 1em 0em;
  font-size: 1.2em;
  font-family: Play;
}

.events{
  background-color: rgba(10, 10, 10, 0.9);
  padding: 4em 1em;
}

.events > h1{
  margin: 0;
  font-size: 4em;
  text-align: center;
  font-family: Gobold Regular;
  color: #FFF;
  text-shadow: 0.06em 0.05em #333;
}

.events > p{
  color: lightgrey;
  margin: 0;
  padding: 1em 0em;
  font-size: 1.2em;
  font-family: Play;
}

.join{
  background-color: rgba(90, 43, 43, 0.4);
  padding: 4em 1em;
}

.join > h1{
  margin: 0;
  font-size: 4em;
  text-align: center;
  font-family: Gobold Regular;
  color: #222222;
  text-shadow: 0.06em 0.05em #FFF;
}

.join > p{
  color: lightgrey;
  margin: 0;
  padding: 1em 0em;
  font-size: 1.2em;
  font-family: Play;
}

#contact{
  transition-duration: 2s;
  transition-timing-function: linear;
}

.contact{
  background-color: rgba(10, 10, 10, 1);
  padding: 4em 1em;
}

.contact > h1{
  margin: 0;
  font-size: 4em;
  text-align: center;
  font-family: Gobold Regular;
  color: #FFF;
  text-shadow: 0.06em 0.05em #333;
}

.contact > p{
  color: lightgrey;
  margin: 0;
  padding: 1em 0em;
  font-size: 1.2em;
  font-family: Play;
}

footer{
  margin: 0;
  padding: 1em 0em;
  text-align: center;

  color: lightgrey;
  background-color: rgba(10, 10, 10, 1);
}